@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('ProximaNova-Regular.eot');
    src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Regular.woff') format('woff'),
    url('ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    @import url('https://fonts.googleapis.com/css?family=Playfair+Display');
    @font-face {
        font-family: 'Futura PT Heavy';
        src: url('FuturaPT-Heavy.eot');
        src: url('FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('FuturaPT-Heavy.woff') format('woff'),
        url('FuturaPT-Heavy.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }
.Main_Background {
    background-color: rgb(70, 79, 84);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1200px;
    height: 900px;
    z-index: 1;
  }
.Document_Background {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    position: relative;
    top:149px;
    width: 1060px;
    height: 1195px;
    z-index: 2;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.22);
  }
  
  .Document_Line {
    background-color: rgb(232, 236, 237);
    position: absolute;
    left: 137px;
    top: 149px;
    width: 2px;
    height: 1022px;
    z-index: 3;
  }
  .Where_am_I_going__How_long_have_I_got_ {
    font-size: 30px;
    font-family: "Georgia";
    color: rgb(143, 143, 143);
    font-style: italic;
    line-height: 2.081;
    text-align: justifyLeft;
    position: absolute;
    left: 190.375px;
    top: 490px;
    z-index: 35;
  }  
  .Input_Background {
    background-color: rgb(24, 24, 24);
    box-shadow: -3.536px -3.536px 59px 0px rgba(0, 0, 0, 0.16);
    position: absolute;
    left: 324px;
    top: 47px;
    width: 876px;
    height: 187px;
    z-index: 21;
  }
  .Control_Bar_Background {
    background-color: rgb(251, 192, 45);
    box-shadow: -3.536px -3.536px 59px 0px rgba(0, 0, 0, 0.16);
    position: absolute;
    left: 388px;
    top: 234px;
    width: 876px;
    height: 76px;
    z-index: 6;
  }
  
  .Roy_Batty__2019 {
    font-family: "Proxima Nova Regular";
    color: rgb(180, 180, 180);
    text-transform: uppercase;
    position: absolute;
    left: 195px;
    top: 351px;
    z-index: 32;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 4.4px;
    
  }
  .Like-Tears-In-Ra {
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    color: rgb(254, 254, 254);
    line-height: 1.959;
    position: absolute;
    left: 383.938px;
    top: 60px;
    z-index: 24;
  }
  .Input-Line {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 384px;
    top: 181px;
    width: 854px;
    height: 3px;
    opacity: 0.1;
    background-color: #ffffff;
    z-index: 23;
  }
  .title {
    width: 58px;
    height: 10px;
    font-family: 'Proxima Nova Regular';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 7.27;
    letter-spacing: 4.8px;
    text-align: left;
    color: #767676;
    position: absolute;
    left: 387px;
    top: 47.483px;
    z-index: 26;
    text-transform: uppercase;
  }
  .Layer1{
        width: 38px;
        height: 32px;
        left:42px;
        position: absolute;
        top:22px;
  }
.Layer2{
        width: 30px;
        height: 23px;
        opacity: 0.5;
        position: absolute;
        left: 102px;
        top:26px;
  }
.Layer3{
        width: 28px;
        height: 27px;
        opacity: 0.5;
        position: absolute;
        left: 162px;
        top:24px;
  }
.Layer4{
    width: 20px;
    height: 26px;
    position: absolute;
    left: 222px;
    top:24px;
  
}
.Layer5{
    width: 19px;
    height: 22px;
    opacity: 0.5;
    top:27px;
    position: absolute;
    left: 282px;
}
.Layer6{
    width: 22px;
    height: 27px;
    top: 24px;
    position: absolute;
    left: 342px;
}
.Layer7{
    width: 28px;
  height: 27px;
  opacity: 0.5;
  top:24px;
  position: absolute;
    left: 402px;
}
.Layer8{
    width: 28px;
  height: 27px;
  opacity: 0.5;
  top:24px;
  position: absolute;
    left: 462px;
}
.Layer9{
    width: 28px;
  height: 27px;
  opacity: 0.5;
  top:24px;
  position: absolute;
    left: 522px;
}
.Layer10{
    width: 28px;
  height: 27px;
  opacity: 0.5;
  top:24px;
  position: absolute;
    left: 582px;
}
.Like-Tears-in-Rain2 {
    font-family: "Futura PT Heavy";
    color: rgb(42, 42, 42);
    text-transform: uppercase;
    line-height: 0.943;
    position: absolute;
    left: 197px;
    top: 415px;
    width: 865.63px;
    height: 69.009px;
    z-index: 31;
    font-size: 65px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 4.1px;
  }

.first_text {
    width: 806px;
    height: 143px;
    font-family: Georgia;
    font-size: 27px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: justify;
    color: #000000;
    top: 575px;
    left: 194px;
    position: absolute;
    z-index: 31;
  }
.second_text {
    width: 804px;
    height: 107px;
    font-family: Georgia;
    font-size: 27px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: justify;
    color: #000000;
    top: 757px;
    left: 194px;
    position: absolute;
    z-index: 31;
  }
.line{
    background-color: rgb(232, 236, 237);
    position: absolute;
    left: 67px;
    margin-top: 0;
    width: 2px;
    height: 1022px;
    z-index: 3;
}
  
  
  